
@{
    ViewData["Title"] = "About";
}



<div class="row">
    <div class="col-md-12" style="background:#b4b4b4">
        <h1>Hakkımızda</h1>


        <p>
            Hayatımızın En Heyecanlı, En Unutulmaz anlarını tüm dost ve akralarınızla paylaşacağınız kusursuz ve görkemli bir davet için Kent Organizasyon olarak hizmetinizdeyiz.
            <br />
            Kentur;
            Müşterilerine En Kaliteli Ürün ve Hizmetleri Sunmak, Kendi Sektöründe En Güvenilir ve Tercih Edilir Şirketler Arasında Yer Almak Amacıyla Tüm Faaliyetlerini Uluslar Arası Standartlara Uygun Olarak Gerçekleştirmektedir.
            <br />
            Biz;
            Kusursuz bir organizasyon için tecrübeli ekibimizle bütün detayları düşünerek hizmet ederken. Siz konuklarınızla ilgilenip en anlamlı gününüzün tadını çıkartabilirsiniz.

        </p>
    </div>
    <div class="col-md-12" style="background:#b4b4b4">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">İletişim</th>
                    <th scope="col">Adres</th>
                    <th scope="col">Kurulum Yılı</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>0(216)534 0434</td>
                    <td>Aziz Mahmut Hüdayi, Şemsi Paşa Cd. No:2, 34672 Üsküdar/İstanbul</td>
                    <td>&copy; 1993</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>