@model AdminVM


@{
    ViewData["Title"] = "Admin";
}


<div class="row">
    <div class="col-md-12">
        <h2 style="text-align:center;">Admin Giriş</h2>

        <div class="offset-2 col-md-8" >

            <form method="post" asp-controller="Home" asp-action="Admin">

                <div class="form-group">
                    <label>Admin Adı</label> <br />
                    <input type="text" asp-for="Name" style="min-width:100%;" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Şifre</label> <br />
                    <input type="text" asp-for="Password" style="min-width:100%;" class="form-control"/>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-danger" value="Kaydet" style="min-width:100%;" />
                </div>


            </form>


        </div>
    </div>
</div>